/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.claude
/py/ldc-worker/env/*
/py/ldc-worker/config.json
/py/ldc-worker/database.db
/py/ldc-worker/debug.log
/py/ldc-worker/__pycache__
/py/ldc-worker/build/*
/py/ldc-worker/dist/*
/py/omv-worker/env/*
/py/omv-worker/config.json
/py/omv-worker/database.db
/py/omv-worker/debug.log
/py/omv-worker/__pycache__
/py/omv-worker-ui/env/*
/py/omv-worker-ui/config.json
/py/omv-worker-ui/database.db
/py/omv-worker-ui/debug.log
/py/omv-worker-ui/__pycache__
/py/daemon-manager/env/*
/py/daemon-manager/config.json
/py/daemon-manager/database.db
/py/daemon-manager/debug.log
/py/daemon-manager/__pycache__
/py/daemon-manager/build/*
/py/daemon-manager/dist/*
/py/daemon-manager/logs/*
/py/daemon-manager/gui/__pycache__
/py/translation-extract/env/*

examples/README_PRESS_SIMULATION.md
