.tailwind-tabulator {
  @apply relative border border-neutral-500 text-left overflow-hidden transform;
  font-size: 14px;
}

.tabulator[tabulator-layout="fitDataFill"] .tabulator-tableholder .tabulator-table {
  @apply min-w-full;
}

.tabulator[tabulator-layout="fitDataTable"] {
  @apply inline-block;
}

.tabulator.tabulator-block-select {
  @apply select-none;
}

.tabulator.tabulator-ranges .tabulator-cell:not(.tabulator-editing) {
  @apply select-none;
}

.tabulator .tabulator-header {
  @apply relative box-border w-full border-b border-neutral-500 bg-transparent text-neutral-700 dark:text-neutral-300 font-bold whitespace-nowrap overflow-hidden select-none outline-none;
}

.tabulator {
  @apply relative border border-neutral-500 text-left overflow-hidden transform;
  font-size: 14px;
}

.tabulator[tabulator-layout="fitDataFill"] .tabulator-tableholder .tabulator-table {
  @apply min-w-full;
}

.tabulator[tabulator-layout="fitDataTable"] {
  @apply inline-block;
}

.tabulator.tabulator-block-select {
  @apply select-none;
}

.tabulator.tabulator-ranges .tabulator-cell:not(.tabulator-editing) {
  @apply select-none;
}

.tabulator .tabulator-header {
  @apply relative box-border w-full border-b border-neutral-200 dark:border-neutral-700 font-bold whitespace-nowrap overflow-hidden select-none outline-none;
}

.tabulator .tabulator-header.tabulator-header-hidden {
  @apply hidden;
}

.tabulator .tabulator-header .tabulator-header-contents {
  @apply relative overflow-hidden;
}

.tabulator .tabulator-header .tabulator-header-contents .tabulator-headers {
  @apply inline-block;
}

.tabulator .tabulator-header .tabulator-col {
  @apply inline-flex relative box-border flex-col justify-start border-r border-neutral-200 dark:border-neutral-700 text-left align-bottom overflow-hidden;
}

.tabulator .tabulator-header .tabulator-col.tabulator-moving {
  @apply absolute border border-neutral-500 bg-neutral-200 pointer-events-none;
}

.tabulator .tabulator-header .tabulator-col.tabulator-range-highlight {
  @apply bg-neutral-200 dark:bg-neutral-700;
}

.tabulator .tabulator-header .tabulator-col.tabulator-range-selected {
  @apply bg-caldy-500 dark:bg-caldy-500 border-caldy-500 text-white;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  @apply box-border relative p-1;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button {
  @apply px-2;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-header-popup-button:hover {
  @apply cursor-pointer opacity-60;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title-holder {
  @apply relative;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  @apply box-border w-full whitespace-nowrap overflow-hidden text-ellipsis align-bottom;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title.tabulator-col-title-wrap {
  @apply whitespace-normal text-ellipsis;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
  @apply box-border w-full border border-neutral-500 p-1;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-header-popup-button + .tabulator-title-editor {
  @apply w-[calc(100%-22px)];
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
  @apply flex items-center absolute top-0 bottom-0 right-1;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
  @apply w-0 h-0 border-l-transparent border-r-transparent border-b-neutral-500;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
  @apply relative flex border-t border-neutral-200 dark:border-neutral-700 overflow-hidden -mr-px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter {
  @apply relative box-border mt-0.5 w-full text-center;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter textarea {
  @apply h-auto !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter svg {
  @apply mt-[3px];
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input::-ms-clear {
  width: 0;
  height: 0;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
  @apply pr-6;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    @apply cursor-pointer bg-caldy-500 bg-opacity-30;
  }
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter {
  @apply text-neutral-500;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
    @apply cursor-pointer border-b-neutral-700;
    border-bottom-width: 6px;
  }
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
  border-top: none;
  @apply border-b-neutral-500;
  border-bottom-width: 6px;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter {
  @apply text-neutral-600;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
    @apply cursor-pointer border-b-neutral-700;
    border-bottom-width: 6px;
  }
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
  border-top: none;
  @apply border-b-neutral-600;
  border-bottom-width: 6px;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter {
  @apply text-neutral-600;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter.tabulator-col-sorter-element .tabulator-arrow:hover {
    @apply cursor-pointer border-t-neutral-700;
    border-top-width: 6px;
  }
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
  border-bottom: none;
  @apply border-t-neutral-600 text-neutral-600;
  border-top-width: 6px;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical .tabulator-col-content .tabulator-col-title {
  @apply flex items-center justify-center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-col-vertical-flip .tabulator-col-title {
  @apply rotate-180;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-title {
  @apply pr-0 pt-5;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable.tabulator-col-vertical-flip .tabulator-col-title {
  @apply pr-0 pb-5;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-vertical.tabulator-sortable .tabulator-col-sorter {
  @apply justify-center left-0 right-0 top-1;
  bottom: auto;
}

.tabulator .tabulator-header .tabulator-frozen {
  @apply sticky left-0 z-10 bg-neutral-100 dark:bg-neutral-700;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
  @apply border-r-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-right {
  @apply border-l-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator .tabulator-header .tabulator-calcs-holder {
  @apply box-border inline-block bg-caldy-500 border-t border-b border-neutral-200 dark:border-neutral-700;
}

.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row {
  @apply bg-caldy-500;
}

.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
  @apply hidden;
}

.tabulator .tabulator-header .tabulator-frozen-rows-holder {
  @apply inline-block;
}

.tabulator .tabulator-header .tabulator-frozen-rows-holder:empty {
  @apply hidden;
}

.tabulator .tabulator-tableholder {
  @apply relative w-full whitespace-nowrap overflow-auto;
  -webkit-overflow-scrolling: touch;
}

.tabulator .tabulator-tableholder:focus {
  @apply outline-none;
}

.tabulator .tabulator-tableholder .tabulator-placeholder {
  @apply box-border flex items-center justify-center min-w-full w-full;
}

.tabulator .tabulator-tableholder .tabulator-placeholder[tabulator-render-mode="virtual"] {
  @apply min-h-full;
}

.tabulator .tabulator-tableholder .tabulator-placeholder .tabulator-placeholder-contents {
  @apply inline-block text-center p-2.5 text-neutral-300 font-bold text-xl whitespace-normal;
}

.tabulator .tabulator-tableholder .tabulator-table {
  @apply relative inline-block whitespace-nowrap overflow-visible;
}

.tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs {
  @apply font-bold bg-neutral-200 !important;
}

.tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-top {
  @apply border-b-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator .tabulator-tableholder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-bottom {
  @apply border-t-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay {
  @apply absolute inset-0 z-10 pointer-events-none;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range {
  @apply absolute box-border border border-caldy-500;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
  content: '';
  @apply absolute right-[-3px] bottom-[-3px] w-1.5 h-1.5 bg-caldy-500 rounded-full;
}

.tabulator .tabulator-tableholder .tabulator-range-overlay .tabulator-range-cell-active {
  @apply absolute box-border border-2 border-caldy-500;
}

.tabulator .tabulator-footer {
  @apply border-t border-neutral-500 text-neutral-700 dark:text-neutral-300 font-bold whitespace-nowrap select-none;
}

.tabulator .tabulator-footer .tabulator-footer-contents {
  @apply flex flex-row items-center justify-between p-1.5;
}

.tabulator .tabulator-footer .tabulator-footer-contents:empty {
  @apply hidden;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs {
  @apply -mt-[5px] overflow-x-auto;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab {
  @apply inline-block p-1 border border-neutral-500 border-t-0 rounded-b-md text-sm;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab:hover {
  @apply cursor-pointer opacity-70;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab.tabulator-spreadsheet-tab-active {
  @apply bg-caldy-500;
}

.tabulator .tabulator-footer .tabulator-calcs-holder {
  @apply box-border w-full text-left border-t border-neutral-200 dark:border-neutral-700 overflow-hidden;
}

.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row {
  @apply inline-block;
}

.tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
  @apply hidden;
}

.tabulator .tabulator-footer .tabulator-calcs-holder:only-child {
  @apply -mb-[7px] border-b-0;
}

.tabulator .tabulator-footer > * + .tabulator-page-counter {
  @apply ml-2.5;
}

.tabulator .tabulator-footer .tabulator-page-counter {
  @apply font-normal;
}

.tabulator .tabulator-footer .tabulator-paginator {
  @apply flex-1 text-right text-neutral-700;
}

.tabulator .tabulator-footer .tabulator-page-size {
  @apply inline-block mx-[7px] px-[7px] py-0.5 border border-neutral-500 rounded-md;
}

.tabulator .tabulator-footer .tabulator-pages {
  @apply mx-[7px];
}

.tabulator .tabulator-footer .tabulator-page {
  @apply inline-block mx-0.5 px-[7px] py-0.5 border border-neutral-500 rounded-md bg-caldy-500 bg-opacity-20;
}

.tabulator .tabulator-footer .tabulator-page.active {
  @apply text-red-600;
}

.tabulator .tabulator-footer .tabulator-page:disabled {
  @apply opacity-50;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator .tabulator-footer .tabulator-page:not(disabled):hover {
    @apply cursor-pointer bg-caldy-500 bg-opacity-20 text-white;
  }
}

.tabulator .tabulator-col-resize-handle {
  @apply relative inline-block w-1.5 -ml-[3px] -mr-[3px] z-10 align-middle;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator .tabulator-col-resize-handle:hover {
    @apply cursor-ew-resize;
  }
}

.tabulator .tabulator-col-resize-handle:last-of-type {
  @apply w-[3px] mr-0;
}

.tabulator .tabulator-col-resize-guide {
  @apply absolute top-0 w-1 h-full -ml-0.5 bg-neutral-600 opacity-50;
}

.tabulator .tabulator-row-resize-guide {
  @apply absolute left-0 w-full h-1 -mt-0.5 bg-neutral-600 opacity-50;
}

.tabulator .tabulator-alert {
  @apply absolute flex items-center top-0 left-0 z-50 h-full w-full bg-caldy-500 bg-opacity-40 text-center;
}

.tabulator .tabulator-alert .tabulator-alert-msg {
  @apply inline-block m-auto p-2.5 px-5 rounded-lg bg-caldy-500 font-bold text-lg;
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
  @apply border-4 border-neutral-800 text-black;
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-error {
  @apply border-4 border-red-600 text-red-800;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row.tabulator-selectable:hover {
    @apply bg-caldy-500 bg-opacity-30 cursor-pointer;
  }
}

.tabulator-row.tabulator-selected {
  @apply bg-caldy-300;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row.tabulator-selected:hover {
    @apply bg-caldy-400 cursor-pointer;
  }
}

.tabulator-row.tabulator-row-moving {
  @apply border border-black bg-caldy-500;
}

.tabulator-row.tabulator-moving {
  @apply absolute border-t border-b border-neutral-200 dark:border-neutral-700 pointer-events-none z-10;
}


.tabulator-row.tabulator-range-highlight.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
  @apply bg-caldy-500 border-caldy-300 text-white;
}

.tabulator-row.tabulator-range-highlight .tabulator-cell.tabulator-range-row-header {
  @apply bg-neutral-200 dark:bg-neutral-700 border-caldy-500;
}

.tabulator-row.tabulator-range-selected .tabulator-cell.tabulator-range-row-header {
  @apply bg-caldy-500 dark:bg-caldy-500 border-caldy-300 text-white;
}

.tabulator-row .tabulator-row-resize-handle {
  @apply absolute right-0 bottom-0 left-0 h-[5px];
}

.tabulator-row .tabulator-row-resize-handle.prev {
  @apply top-0 bottom-auto;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row .tabulator-row-resize-handle:hover {
    @apply cursor-ns-resize;
  }
}

.tabulator-row .tabulator-responsive-collapse {
  @apply box-border p-[5px] border-t border-b border-neutral-200 dark:border-neutral-700;
}

.tabulator-row .tabulator-responsive-collapse:empty {
  @apply hidden;
}

.tabulator-row .tabulator-responsive-collapse table {
  @apply text-base;
}

.tabulator-row .tabulator-responsive-collapse table tr td {
  @apply relative;
}

.tabulator-row .tabulator-responsive-collapse table tr td:first-of-type {
  @apply pr-[10px];
}

.tabulator-row .tabulator-cell {
  @apply inline-block relative box-border p-1 border-r border-neutral-200 dark:border-neutral-700 align-middle whitespace-nowrap overflow-hidden text-ellipsis outline-none;
}

.tabulator-row .tabulator-cell.tabulator-row-header {
  @apply border-r border-b border-neutral-200 dark:border-neutral-700 bg-caldy-500;
}

.tabulator-row .tabulator-cell.tabulator-frozen {
  @apply inline-block sticky left-0 bg-inherit z-10 bg-neutral-100 dark:bg-neutral-700;
}

.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
  @apply border-r-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
  @apply border-l-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator-row .tabulator-cell.tabulator-editing {
  @apply border border-caldy-500 outline-none p-0;
}

.tabulator-row .tabulator-cell.tabulator-editing input,
.tabulator-row .tabulator-cell.tabulator-editing select {
  @apply border-0 bg-transparent outline-none text-sm;
}

.tabulator-row .tabulator-cell.tabulator-validation-fail {
  @apply border border-red-600;
}

.tabulator-row .tabulator-cell.tabulator-validation-fail input,
.tabulator-row .tabulator-cell.tabulator-validation-fail select {
  @apply border-0 bg-transparent text-red-600;
}

.tabulator-row .tabulator-cell.tabulator-row-handle {
  @apply inline-flex items-center justify-center select-none;
}

.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
  @apply w-[80%];
}

.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
  @apply w-full h-[3px] mt-[2px] bg-neutral-600;
}

.tabulator-row .tabulator-cell.tabulator-range-selected:not(.tabulator-range-only-cell-selected):not(.tabulator-range-row-header) {
  @apply bg-caldy-500 bg-opacity-30;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-branch-empty {
  @apply inline-block w-[7px];
}

.tabulator-row .tabulator-cell .tabulator-data-tree-branch {
  @apply inline-block align-middle h-[9px] w-[7px] -mt-[9px] mr-[5px] rounded-bl-[1px] border-l-2 border-b-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control {
  @apply inline-flex justify-center items-center align-middle h-[11px] w-[11px] mr-[5px] border border-neutral-800 rounded bg-caldy-500 bg-opacity-10 overflow-hidden;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row .tabulator-cell .tabulator-data-tree-control:hover {
    @apply cursor-pointer bg-caldy-500 bg-opacity-20;
  }
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
  @apply inline-block relative h-[7px] w-[1px] bg-transparent;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
  @apply absolute content-[''] left-[-3px] top-[3px] h-[1px] w-[7px] bg-neutral-800;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand {
  @apply inline-block relative h-[7px] w-[1px] bg-neutral-800;
}

.tabulator-row .tabulator-cell .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
  @apply absolute content-[''] left-[-3px] top-[3px] h-[1px] w-[7px] bg-neutral-800;
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle {
  @apply inline-flex items-center justify-center select-none h-[15px] w-[15px] rounded-full bg-neutral-600 text-white font-bold text-[1.1em];
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle:hover {
    @apply opacity-70 cursor-pointer;
  }
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-open {
  @apply hidden;
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle svg {
  @apply stroke-white;
}

.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle .tabulator-responsive-collapse-toggle-close {
  @apply hidden;
}

.tabulator-row .tabulator-cell .tabulator-traffic-light {
  @apply inline-block h-[14px] w-[14px] rounded-full;
}

.tabulator-row.tabulator-group {
  @apply box-border border-b border-r border-neutral-200 dark:border-neutral-700 border-t p-[5px] pl-[10px] bg-neutral-500 font-bold min-w-full;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-row.tabulator-group:hover {
    @apply cursor-pointer bg-caldy-500 bg-opacity-10;
  }
}

.tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
  @apply mr-[10px] border-l-transparent border-r-transparent border-t border-neutral-500 border-b-0;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
}

.tabulator-row.tabulator-group.tabulator-group-level-1 {
  @apply pl-[30px];
}

.tabulator-row.tabulator-group.tabulator-group-level-2 {
  @apply pl-[50px];
}

.tabulator-row.tabulator-group.tabulator-group-level-3 {
  @apply pl-[70px];
}

.tabulator-row.tabulator-group.tabulator-group-level-4 {
  @apply pl-[90px];
}

.tabulator-row.tabulator-group.tabulator-group-level-5 {
  @apply pl-[110px];
}

.tabulator-row.tabulator-group .tabulator-group-toggle {
  @apply inline-block;
}

.tabulator-row.tabulator-group .tabulator-arrow {
  @apply inline-block w-0 h-0 mr-[16px] border-t-transparent border-b-transparent border-r-0 border-l-neutral-600 align-middle;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 6px;
}

.tabulator-row.tabulator-group span {
  @apply ml-[10px] text-red-600;
}

.tabulator-toggle {
  @apply box-border flex flex-row border border-neutral-200 dark:border-neutral-700 bg-neutral-200;
}

.tabulator-toggle.tabulator-toggle-on {
  @apply bg-caldy-500;
}

.tabulator-toggle .tabulator-toggle-switch {
  @apply box-border border border-neutral-200 dark:border-neutral-700 bg-caldy-500;
}

.tabulator-popup-container {
  @apply absolute inline-block box-border bg-caldy-500 border border-neutral-200 dark:border-neutral-700 shadow-md text-base overflow-y-auto z-50;
}

.tabulator-popup {
  @apply p-[5px] rounded-sm;
}

.tabulator-tooltip {
  @apply max-w-[min(500px,100%)] p-[3px] px-[5px] rounded-sm shadow-none text-xs pointer-events-none;
}

.tabulator-menu .tabulator-menu-item {
  @apply relative box-border p-[5px] px-[10px] select-none;
}

.tabulator-menu .tabulator-menu-item.tabulator-menu-item-disabled {
  @apply opacity-50;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-menu .tabulator-menu-item:not(.tabulator-menu-item-disabled):hover {
    @apply cursor-pointer bg-caldy-500;
  }
}

.tabulator-menu .tabulator-menu-item.tabulator-menu-item-submenu {
  @apply pr-[25px];
}

.tabulator-menu .tabulator-menu-item.tabulator-menu-item-submenu::after {
  @apply inline-block absolute top-[calc(5px+0.4em)] right-[10px] h-[7px] w-[7px] content-[''] border border-t-0 border-l-0 border-neutral-200 dark:border-neutral-700 align-top rotate-45;
}

.tabulator-menu .tabulator-menu-separator {
  @apply border-t border-neutral-200 dark:border-neutral-700;
}

.tabulator-edit-list {
  @apply max-h-[200px] text-base overflow-y-auto;
  -webkit-overflow-scrolling: touch;
}

.tabulator-edit-list .tabulator-edit-list-item {
  @apply p-1 text-neutral-800 outline-none;
}

.tabulator-edit-list .tabulator-edit-list-item.active {
  @apply text-white bg-caldy-500;
}

.tabulator-edit-list .tabulator-edit-list-item.active.focused {
  @apply outline outline-1 outline-white;
}

.tabulator-edit-list .tabulator-edit-list-item.focused {
  @apply outline outline-1 outline-caldy-500;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-edit-list .tabulator-edit-list-item:hover {
    @apply cursor-pointer text-white bg-caldy-500;
  }
}

.tabulator-edit-list .tabulator-edit-list-placeholder {
  @apply p-1 text-neutral-800 text-center;
}

.tabulator-edit-list .tabulator-edit-list-group {
  @apply border-b border-neutral-200 dark:border-neutral-700 p-1 pt-[6px] text-neutral-800 font-bold;
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-2,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-2 {
  @apply pl-[12px];
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-3,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-3 {
  @apply pl-[20px];
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-4,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-4 {
  @apply pl-[28px];
}

.tabulator-edit-list .tabulator-edit-list-item.tabulator-edit-list-group-level-5,
.tabulator-edit-list .tabulator-edit-list-group.tabulator-edit-list-group-level-5 {
  @apply pl-[36px];
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col {
  @apply border-l border-neutral-200 dark:border-neutral-700 border-r-0;
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
  @apply mr-0 ml-[-1px];
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
  @apply pr-0 pl-[25px];
}

.tabulator.tabulator-rtl .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
  @apply left-[8px] right-0;
}

.tabulator.tabulator-rtl .tabulator-tableholder .tabulator-range-overlay .tabulator-range.tabulator-range-active::after {
  @apply absolute content-[''] left-[-3px] right-0 bottom-[-3px] w-[6px] h-[6px] bg-caldy-500 rounded-full;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell {
  @apply border-r-0 border-l border-neutral-200 dark:border-neutral-700;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell .tabulator-data-tree-branch {
  @apply mr-0 ml-[5px] rounded-br-[1px] border-l-0 border-r-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell .tabulator-data-tree-control {
  @apply mr-0 ml-[5px];
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
  @apply border-l-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right {
  @apply border-r-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator.tabulator-rtl .tabulator-row .tabulator-col-resize-handle:last-of-type {
  @apply w-[3px] ml-0 mr-[-3px];
}

.tabulator-print-fullscreen {
  @apply absolute inset-0 z-50;
}

body.tabulator-print-fullscreen-hide > *:not(.tabulator-print-fullscreen) {
  @apply hidden !important;
}

.tabulator-print-table {
  @apply border-collapse;
}

.tabulator-print-table .tabulator-data-tree-branch {
  @apply inline-block align-middle h-[9px] w-[7px] -mt-[9px] mr-[5px] rounded-bl-[1px] border-l-2 border-b-2 border-neutral-200 dark:border-neutral-700;
}

.tabulator-print-table .tabulator-print-table-group {
  @apply box-border border-b border-r border-neutral-200 dark:border-neutral-700 border-t p-[5px] pl-[10px] bg-neutral-500 font-bold min-w-full;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-print-table .tabulator-print-table-group:hover {
    @apply cursor-pointer bg-caldy-500 bg-opacity-10;
  }
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-visible .tabulator-arrow {
  @apply mr-[10px] border-l-transparent border-r-transparent border-t border-neutral-500 border-b-0;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-1 td {
  @apply pl-[30px] !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-2 td {
  @apply pl-[50px] !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-3 td {
  @apply pl-[70px] !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-4 td {
  @apply pl-[90px] !important;
}

.tabulator-print-table .tabulator-print-table-group.tabulator-group-level-5 td {
  @apply pl-[110px] !important;
}

.tabulator-print-table .tabulator-print-table-group .tabulator-group-toggle {
  @apply inline-block;
}

.tabulator-print-table .tabulator-print-table-group .tabulator-arrow {
  @apply inline-block w-0 h-0 mr-[16px] border-t-transparent border-b-transparent border-r-0 border-l-neutral-600 align-middle;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 6px;
}

.tabulator-print-table .tabulator-print-table-group span {
  @apply ml-[10px] text-red-600;
}

.tabulator-print-table .tabulator-data-tree-control {
  @apply inline-flex justify-center items-center align-middle h-[11px] w-[11px] mr-[5px] border border-neutral-800 rounded bg-caldy-500 bg-opacity-10 overflow-hidden;
}

@media (hover: hover) and (pointer: fine) {
  .tabulator-print-table .tabulator-data-tree-control:hover {
    @apply cursor-pointer bg-caldy-500 bg-opacity-20;
  }
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-collapse {
  @apply inline-block relative h-[7px] w-[1px] bg-transparent;
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-collapse:after {
  @apply absolute content-[''] left-[-3px] top-[3px] h-[1px] w-[7px] bg-neutral-800;
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-expand {
  @apply inline-block relative h-[7px] w-[1px] bg-neutral-800;
}

.tabulator-print-table .tabulator-data-tree-control .tabulator-data-tree-control-expand:after {
  @apply absolute content-[''] left-[-3px] top-[3px] h-[1px] w-[7px] bg-neutral-800;
}

.tabulator {
  @apply border-0;
}

.tabulator .tabulator-header .tabulator-calcs-holder {
  @apply border-b border-neutral-500;
}

.tabulator .tabulator-tableholder .tabulator-placeholder span {
  @apply text-black;
}

/* .tabulator .tabulator-footer .tabulator-calcs-holder {
  @apply border-b border-white;
} */

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab {
  @apply font-normal;
}

.tabulator .tabulator-footer .tabulator-spreadsheet-tabs .tabulator-spreadsheet-tab.tabulator-spreadsheet-tab-active {
  @apply text-red-600 font-bold;
}

/* .tabulator-row {
  @apply border-b border-neutral-200 dark:border-neutral-700;
} */

.tabulator-row .tabulator-cell:last-of-type {
  @apply border-r-0;
}

.tabulator-row .tabulator-cell.tabulator-row-header {
  @apply border-b-0;
}

.tabulator-row.tabulator-group span {
  @apply text-neutral-600;
}

.tabulator-print-table .tabulator-print-table-group span {
  @apply ml-[10px] text-neutral-600;
}